.CardWrapper {
    height: 90%;
    width: 100%;
    overflow: scroll;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 60rem;
}

.CardWrapper h1 {
    font-size: 5rem;
    color: white;
}