.Login {
    background-color: rgba(34, 157, 238, 0.815);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Login form {
    width: 35rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgba(255, 255, 255, 1);
    height: 40rem;
    padding: 1rem 2rem;
    border-radius: 5px;
}

.Login form label {
    font-size: 2rem;
    text-transform: uppercase;
}


.Login form input {
    padding: 1.2rem;
    font-size: 1.5rem;
    border: 1px solid grey;
    border-radius: 5px;

}

.Login form input[type="submit"] {
    background-color: rgb(16, 182, 99);
    border: none;
    color: white;
    cursor: pointer;
}